*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/server/node_modules/
/server/.idea/.gitignore
/server/.idea/modules.xml
/server/.idea/vcs.xml
/server/wink-android-32c12-firebase-adminsdk-kz9v4-cfc7b2ba24.json
/server/config/.env.local
/server/config/.env.test
